@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}
img {
  max-width: 100%;
}

/*-------------------------------------------
共通
-------------------------------------------*/
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.site-title {
  width: 170px;
  margin: 60px 0 10px 0;
}

.site-title a {
  display: block;
}

.mainvisual {
  margin-bottom: 60px;
}

/*-------------------------------------------
インデックス
-------------------------------------------*/
#index {
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 60px;
}

#index ol li {
  list-style-position: inside;
  margin-bottom: 25px;
}

#index ol li:last-child {
  margin-bottom: 0;
}

.section-title {
  margin-bottom: 15px;
}

/*-------------------------------------------
ディテール
-------------------------------------------*/
.flex-item {
  display: flex;
}

.item-image {
  width: 270px;
  margin-right: 60px;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
}

#detail dl {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  margin: 25px 0;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
}

#detail dt {
  width: 25%;
}

#detail dd {
  width: 75%;
}

#detail a {
  display: block;
}

#detail a {
  margin-top: 25px;
  color: #333;
}

#detail {
  margin-bottom: 100px;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
footer {
  padding: 15px 0;
  font-size: 0.65rem;
}


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 40px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    padding: 0 10px;
  }

  .site-title {
    width: 170px;
    margin: 40px 0 10px 0;
  }

  /*-------------------------------------------
  ディテール
  -------------------------------------------*/
  .flex-item {
    flex-direction: column;
  }

  .item-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }

}
